#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.app {
  display: flex;
  flex-direction: column;
  form {
    display: flex;

    flex-direction: column;
    input {
      max-width: 375px;
    }
  }

  // button {
  //   max-width: ;
  // }
}
